In [3]:
import pandas as pd

# 读取Excel文件
file_path = 'data/图书借还2017.xlsx'
df = pd.read_excel(file_path)

print('**************查看前几行数据**********************')
# 查看前几行数据
print(df.head())

print('***************查看表格信息*********************')
# 查看表格信息
print(df.info())

print('**************查看统计摘要**********************')
# 查看统计摘要
print(df.describe(datetime_is_numeric=True))

**************查看前几行数据**********************
                 操作时间 操作类型      图书ID          读者ID
0 2017-01-01 07:35:34    还  B0451294  1606AC140313
1 2017-01-01 07:35:44    还  B0158316  1606AC140313
2 2017-01-01 07:35:56    还  B0445510  1606AC140313
3 2017-01-01 07:36:11    还  B0462168  1606AC140313
4 2017-01-01 07:36:26    还  B0462170  1606AC140313
***************查看表格信息*********************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 221620 entries, 0 to 221619
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   操作时间    221620 non-null  datetime64[ns]
 1   操作类型    221620 non-null  object
 2   图书ID    221620 non-null  object
 3   读者ID    221620 non-null  object
dtypes: datetime64[ns](1), object(3)
memory usage: 6.8+ MB
None
**************查看统计摘要**********************
                                操作时间
count                         221620
mean   2017-07-02 00:03:30.966131200
min              2017-01-01 07:35:34
25%       2017-04-07 11:48:24.500000
50%              2017-06-18 17:18:51
75%    2017-09-30 10:30:09.750000128
max              2017-12-31 21:51:30

In [5]:
df2 = pd.read_excel('data/图书借还2016.xlsx')
df3 = pd.read_excel('data/图书借还2015.xlsx')
df4 = pd.read_excel('data/图书借还2014.xlsx')

数据量: 2017:  (221620, 4) 2016:  267617  2015 : 254562  2014:  247199

In [7]:
print("数据量: 2017: ", df.shape[0], "2016: ", df2.shape[0], " 2015 :", df3.shape[0], " 2014: ", df4.shape[0])
print("总数据量：", df.shape[0]+df2.shape[0]+df3.shape[0]+df4.shape[0])

数据量: 2017:  221620 2016:  267617  2015 : 254562  2014:  247199
总数据量： 990998

In [8]:
content_df = pd.read_excel('data\图书目录.xlsx')

print('**************查看图书目录前几行数据**********************')
# 查看前几行数据
print(content_df.head())

print('***************查看图书目录表格信息*********************')
# 查看表格信息
print(content_df.info())

print('**************查看图书目录统计摘要**********************')
# 查看统计摘要
print(content_df.describe(datetime_is_numeric=True))

**************查看图书目录前几行数据**********************
       图书ID            书名            图书分类号
0  B0000001          大庆指南  F279.273.5-62/1
1  B0000002  寒夜三部曲.第一部,寒夜         I247.5/1
2  B0000003           沧桑路       I247.5/184
3  B0000004             寻         I247.5/4
4  B0000005         曾经深爱过         I247.5/5
***************查看图书目录表格信息*********************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400966 entries, 0 to 400965
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   图书ID    400966 non-null  object
 1   书名      400716 non-null  object
 2   图书分类号   393279 non-null  object
dtypes: object(3)
memory usage: 9.2+ MB
None
**************查看图书目录统计摘要**********************
            图书ID      书名   图书分类号
count     400966  400716  393279
unique    400966  306210  339650
top     B0000001    材料力学  Z227/2
freq           1     200      87

In [9]:
reader_df = pd.read_excel('data\读者信息.xlsx')

print('**************查看读者信息前几行数据**********************')
# 查看前几行数据
print(reader_df.head())

print('***************查看读者信息表格信息*********************')
# 查看表格信息
print(reader_df.info())

print('**************查看读者信息统计摘要**********************')
# 查看统计摘要
print(reader_df.describe(datetime_is_numeric=True))

**************查看读者信息前几行数据**********************
           读者ID 读者类型 性别        单位
0  1103AE140220  本科生  男  能源2011-2
1  1103AE140229  本科生  男  能源2011-2
2  1106AE140105  本科生  女  电气2011-1
3  1106AE140204  本科生  女  电气2011-2
4  1107AD140227  本科生  男   计2011-2
***************查看读者信息表格信息*********************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15674 entries, 0 to 15673
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   读者ID    15673 non-null  object
 1   读者类型    15673 non-null  object
 2   性别      15672 non-null  object
 3   单位      15670 non-null  object
 4           15674 non-null  object
dtypes: object(5)
memory usage: 612.4+ KB
None
**************查看读者信息统计摘要**********************
                读者ID   读者类型     性别      单位
count          15673  15673  15672   15670  15674
unique         15575      8      2     914      1
top     1301AD140123    本科生      男  2017博士
freq               2  12808  12969      73  15674

In [10]:
book_ID_set = set()
reader_ID_set = set()

In [17]:
print(len(df['图书ID'].isin(content_df['图书ID'])), len(df))
print(len(df2['图书ID'].isin(content_df['图书ID'])), len(df2))
print(len(df3['图书ID'].isin(content_df['图书ID'])), len(df3))
print(len(df4['图书ID'].isin(content_df['图书ID'])), len(df4))

221620 221620
267617 267617
254562 254562
247199 247199

In [18]:
print(len(df['读者ID'].isin(reader_df['读者ID'])), len(df))
print(len(df2['读者ID'].isin(reader_df['读者ID'])), len(df2))
print(len(df3['读者ID'].isin(reader_df['读者ID'])), len(df3))
print(len(df4['读者ID'].isin(reader_df['读者ID'])), len(df4))

221620 221620
267617 267617
254562 254562
247199 247199

In [25]:
df_processed = df.copy()

# 去重
df_processed.drop_duplicates(inplace=True)

# 去空
df_processed.dropna(inplace=True)

# 获取去除的重复数据项
removed_duplicates = df[~df.index.isin(df_processed.index)]

# 获取去除的空行数据项
removed_empty_rows = df[~df.index.isin(df_processed.index)]

# 打印去除的数据
print("去除的重复数据项：")
print(removed_duplicates)

print("去除的空行数据项：")
print(removed_empty_rows)

去除的重复数据项：
Empty DataFrame
Columns: [操作时间, 操作类型, 图书ID, 读者ID]
Index: []
去除的空行数据项：
Empty DataFrame
Columns: [操作时间, 操作类型, 图书ID, 读者ID]
Index: []

In [28]:
reader_df[reader_df['读者类型']=='教师']

               读者ID 读者类型 性别          单位
12910  0119IF051401   教师  男      化学化工学院
12911  0219DJ102756   教师  男         离退处
12912  0219ID010027   教师  女   数学科学与技术学院
12913  0319FK020099   教师  女      电子科学学院
12914  0319GC020074   教师  女      地球科学学院
...             ...  ... ..         ... ..
13324  8888IJ888004   教师  男       计划财务处
13325  8888IJ888808   教师  男       计划财务处
13326  JWC0AB000006   教师  男         教务处
13327  JXJYAB000005   教师  女      继续教育学院
13328      Z620AC82   教师  男  计算机与信息技术学院

[419 rows x 5 columns]

In [29]:
df[df['操作类型']=='']

{'借', '还'}